.table-content{
    padding: 24px;
    background-color: #F7F5F5;
    width: 100%;
    margin-bottom: 24px;
}
.table-content-title{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.table-content ol li a{
    color: rgba(0, 120, 204, 0.90);
    text-decoration: none;
    font-weight: 700;
}

.article-cta-block{
    padding: 56px;
    border-radius: 24px;
    border: 5px solid #F6C10F;
    margin-bottom: 32px;
    display: flex;
    gap: 30px;
}

.article-cta-block__title{
    color: #191919;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.article-cta-block img{
    border-radius: 24px;
}